
.vs/CS630ProgramingProject/FileContentIndex/39e60dde-ed6d-4eaf-8f37-a040acbc9d36.vsidx
.vs/ProjectSettings.json
.vs/slnx.sqlite
*.vsidx
*.json
*.pyc
*.wsuo
.vs/CS630ProgramingProject/v17/DocumentLayout.json
.vs/CS630ProgramingProject/v17/.wsuo
__pycache__/algos.cpython-39.pyc
__pycache__/front_end_graphics.cpython-39.pyc
__pycache__/graphics.cpython-39.pyc
.vs/CS630ProgramingProject/v17/.wsuo
.vs/CS630ProgramingProject/v17/.wsuo
.vs/CS630ProgramingProject/v17/DocumentLayout.json
__pycache__/front_end_graphics.cpython-39.pyc
__pycache__/graphics.cpython-39.pyc
__pycache__/graphics.cpython-39.pyc
__pycache__/front_end_graphics.cpython-39.pyc
.vs/CS630ProgramingProject/v17/DocumentLayout.json
.vs/CS630ProgramingProject/v17/.wsuo
.vs/VSWorkspaceState.json
